@import 'variables.css';
@import 'fonts.css';

* {
  color: var(--text);
  font-family: 'Homenaje', serif;
  font-size: var(--font-s);
  text-align: center;
  transition: all 1s;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2em;
  min-height: 100vh;
}

/* ===========================================================
   HEADINGS, TEXT
   =========================================================== */

h1 {
  font-family: 'Jaro', serif;
  font-size: var(--font-l);
  line-height: 84.5%;
}

h2 {
  font-size: var(--font-m);
}

h3 {
  padding-top: 0.5em;
}

.card {
  background-color: var(--secondary);
  padding: 3em;
  border-radius: var(--border-card);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
}

.stats-value {
  padding: 0.5em;
}

.stats-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
}

.stat-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-bottom: 1em;
  background-color: var(--primary);
  padding: 1em;
  border-radius: var(--border-card);
}

.nav-btn-title {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

button {
  background-color: var(--primary);
  border: none;
  padding: 0.75em 1.25em;
  border-radius: var(--border-button);
  border: 1px solid var(--tertiary);
}

button:disabled {
  opacity: 0.25;
  cursor: default;
}

.stat-change-button {
  color: var(--background);
  background-color: var(--text);
  cursor: crosshair;
  font-size: var(--font-m);
  border-radius: 50%;
  padding: 0;
  width: 2em;
  height: 2em;
  border: 4px solid var(--secondary);
  transition: all 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.stat-change-button:hover:not(:disabled) {
  scale: 1.1;
  transition: all 0.3s;
}

.stats-controls {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}

.svg-icon {
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

@media (prefers-color-scheme: dark) {
  [data-theme='dark'] {
    color: var(--text);
    background-color: var(--background);
    transition: all 1s;
  }
}

