:root { /* light mode */
  --primary: #F8EAD8;
  --secondary: #EDDBC7;
  --tertiary: #ddc3be; /* à changer */
  --background: #F9F5E7;
  --text: #A7727D;
  --highlight: #ff0080;

  --font-s: 24px;
  --font-m: 48px;
  --font-l: 64px;

  --border-card: 30px;
  --border-button: 20px;
  --border-input: 10px;
}

[data-theme='dark'] { /* dark mode */
    --primary: #853953;
    --secondary: #50253B;
    --tertiary: #3a1d2e;
    --background: #2C2C2C;
    --text: #F3F4F4;
}