:root { /* light mode */
  --primary: #d8f8f5;
  --secondary: #c7ede8;
  --tertiary: #bedddc; /* à changer */
  --background: #e7f9f9;
  --text: #5a878a;
  --highlight: #ff0080;

  --font-s: 24px;
  --font-m: 48px;
  --font-l: 64px;

  --border-card: 30px;
  --border-button: 20px;
  --border-input: 10px;
}

[data-theme='dark'] { /* dark mode */
    --primary: #394785;
    --secondary: #252650;
    --tertiary: #201d3a;
    --background: #1d1d1d;
    --text: #F3F4F4;
}